<section class="screen dashboard-screen">
  <header class="app-header">
    <div>
      <h1>Controle de Calorias</h1>
      <p id="userEmail"></p>
    </div>

    <button id="btnLogout" class="secondary-button">
      Sair
    </button>
  </header>

  <section class="dashboard-card">
    <p>Consumido hoje</p>
    <h2 id="todayCalories">0 kcal</h2>
    <p id="dailyGoal">Meta diária: 2000 kcal</p>
  </section>

  <button id="btnNewMeal" class="primary-button full-width">
    📷 Nova Refeição
  </button>
</section>